{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron">
    <h1>Willkommen auf dieser Plattform des ÖBV!</h1>
    <p class="lead">Die Seite befindet sich noch im Testbetrieb!</p>
    <p>Bitte melde dich an, um die Seite nutzen zu können. Solltest du noch keinen Account haben, kannst du dich als Spieler selbst registrieren.
        Du benötigst dafür deine ÖBV-Nummer (oben).</p>
    <p>Als Klubverantwortlicher schicke bitte eine Mail an <span><a href="mailto:cbernscherer@gmail.com">cbernscherer@gmail.com</a></span>.</p>
    <p>Bitte um Feedback in der Facebook-Gruppe.</p>
    <p><a href="https://www.bridgeaustria.at/">Homepage des ÖBV</a></p>
  </div>
{% endblock %}